# Student Grade Prediction

### Importing libraries and packages

In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split

### Loading data

In [2]:
data = pd.read_csv("student-mat.csv", sep=";")

In [3]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

### Trimming the data

Since we only want to consider the columns namely "G1", "G2", "G3", "studytime", "failures" and "absences", trimming the data.

In [7]:
data = data[["G1", "G2", "G3", "studytime", "failures", "absences"]]
data.head()

   G1  G2  G3  studytime  failures  absences
0   5   6   6          2         0         6
1   5   5   6          2         0         4
2   7   8  10          2         3        10
3  15  14  15          3         0         2
4   6  10  10          2         0         4

### Separating features and label

We want to predict "G3", so label is "G3" and rest columns are features.

In [8]:
predict = "G3"
X = np.array(data.drop([predict], 1))
Y = np.array(data[predict])
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.1)

### Implementing Linear Regression

In [9]:
linear = linear_model.LinearRegression()
linear.fit(X_train, Y_train)
acc = linear.score(X_test, Y_test)
print(acc)

0.9151006201683687

### Viewing the constants

In [10]:
print("Linear Regression")
print("Y-intercept: ", linear.intercept_)
print("Coefficient: ", linear.coef_)

Linear Regression
Y-intercept:  -1.5957431566874476
Coefficient:  [ 0.15829412  0.97477594 -0.1645671  -0.29029347  0.03959732]

### Predicting on specific data

In [11]:
predictions = linear.predict(X_test)
for x in range(len(predictions)):
    print(predictions[x], X_test[x], Y_test[x])

14.91287939971133 [14 15  2  0  0] 15
11.599136834072631 [10 12  1  0  2] 12
9.089234985704314 [ 8 10  2  0  0] 12
7.8584223497873555 [10  8  1  0  6] 11
3.7730406917165524 [6 5 1 1 0] 0
6.969033317752336 [7 8 4 0 8] 8
6.868750004468563 [10  8  1  3  3] 7
8.754098796855876 [9 9 1 0 8] 10
15.196238446955963 [14 15  1  0  3] 16
7.218877743561675 [8 8 2 0 2] 8
-1.707720701954932 [4 0 1 2 0] 0
12.805033404297713 [13 13  2  0  0] 13
12.396894856924668 [11 13  4  0  6] 14
7.909633192687352 [7 9 1 1 2] 8
-0.9751126266726513 [6 0 2 0 0] 0
9.493430684981949 [ 8  9  1  1 38] 8
3.4439064923491056 [6 5 3 1 0] 0
14.175592216057355 [15 14  2  0  2] 14
11.01406107756402 [11 11  2  0 12] 11
10.064010922629269 [ 8 11  2  0  0] 11
9.74899167471977 [11 10  2  1 12] 10
14.681758766411207 [11 15  1  0  2] 15
10.222305044192975 [ 9 11  2  0  0] 12
6.512564445487513 [8 8 1 3 2] 10
12.758691953471086 [11 13  1  1 10] 13
19.84731062847152 [18 19  1  0  6] 19
12.646739282734007 [12 13  2  0  0] 14
6.316362019669327 [8 7 1 1 7] 8
16.283438211470973 [16 16  2  0  2] 16
10.03918999878823 [12 10  2  0  8] 11
-0.3482091185378384 [11  0  3  0  0] 0
9.630580294562208 [ 7 10  2  1 25] 11
11.619158633160737 [13 12  2  1  2] 12
10.697282550734933 [11 11  2  0  4] 11
18.15379545361361 [16 18  2  0  0] 19
13.201101704684907 [12 13  2  0 14] 12
7.852244513518176 [10  8  2  0 10] 8
10.776382040591368 [12 11  2  0  2] 12
20.005699891886064 [18 19  1  0 10] 19
17.179019516688655 [16 17  2  0  0] 17